<template>
  <v-container fill-height fluid>
    <v-row align="center" justify="center">
      <v-col cols="12">
        <v-card
          class="mx-auto"
          max-width="800"
          :loading="loading"
          :disabled="loading"
        >
          <v-card-text>
            <v-list-item-title two-line>
              <v-list-item-content>
                <v-list-item-title class="headline">
                  {{ errHandle("this.response.city.name") }}
                </v-list-item-title>
                <v-list-item-subtitle>{{
                  errHandle("this.responseToday.dt_txt")
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item-title>

            <v-row align="center">
              <v-col cols="6">
                <v-img
                  src="https://cdn.vuetifyjs.com/images/cards/sun.png"
                  alt="Sunny image"
                  width="92"
                ></v-img>
              </v-col>
              <v-col class="display-4" cols="6">
                {{ errHandle("parseInt(this.responseToday.main.temp)") }}&deg;C
              </v-col>
            </v-row>

            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-send</v-icon>
              </v-list-item-icon>
              <v-list-item-subtitle
                >{{
                  errHandle("this.responseToday.wind.speed")
                }}
                m/s</v-list-item-subtitle
              >
            </v-list-item>

            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-cloud-download</v-icon>
              </v-list-item-icon>
              <v-list-item-subtitle>48%</v-list-item-subtitle>
            </v-list-item>
          </v-card-text>
        </v-card>
        <v-card
          class="mx-auto mt-2"
          max-width="800"
          :loading="loading"
          :disabled="loading"
        >
          <v-card-text>
            <v-list class="transparent">
              <v-list-item
                v-for="(item, index) in _.take(response.list, 5)"
                :key="index"
              >
                <v-list-item-title>{{ item.dt_txt }}</v-list-item-title>

                <v-list-item-icon>
                  <v-icon small left>mdi-cloud</v-icon>
                  {{ item.main.humidity }}%
                </v-list-item-icon>

                <v-list-item-subtitle class="text-right">
                  {{ parseInt(item.main.temp_min) }}&deg;C /
                  {{ parseInt(item.main.temp_max) }}&deg;C
                </v-list-item-subtitle>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      code: "dced74bf1b19257e9ac7f373f457c25f",
      city: "Bandung",
      cnt: "2",
      loading: false,
      response: [],
      responseToday: {},
      labels: ["SU", "MO", "TU", "WED", "TH", "FR", "SA"],
      time: 0,
      forecast: [
        {
          day: "Tuesday",
          icon: "mdi-white-balance-sunny",
          temp: "24\xB0/12\xB0",
        },
        {
          day: "Wednesday",
          icon: "mdi-white-balance-sunny",
          temp: "22\xB0/14\xB0",
        },
        { day: "Thursday", icon: "mdi-cloud", temp: "25\xB0/15\xB0" },
      ],
    };
  },
  mounted() {
    this.fetch();
  },
  methods: {
    errHandle(val) {
      try {
        return eval(val);
      } catch (error) {
        return " - ";
      }
    },
    fetch() {
      this.loading = true;
      this.axios
        .get(
          "http://api.openweathermap.org/data/2.5/forecast?q=" +
            this.city +
            "&appid=" +
            this.code +
            "&units=metric"
        )
        .then((response) => {
          this.response = response.data;
          this.responseToday = this._.head(response.data.list);
        })
        .catch((err) => {
          console.log(err);
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>

<style lang="stylus" scoped></style>
